.story {
    background: url('/images/pattern.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.storyCard {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 7px;
}

.stroyInfo {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stroyInfo h1 {
    background: linear-gradient(to right, #f5904a, #f47f30, #e86e23, #d9652a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    margin-bottom: 20px;
}

.stroyInfo p {
    color: var(--textColor);
    line-height: 1.6;
    font-size: 18px;
}

.stroyImage {
    flex: 1;
}

.stroyImage img {
    width: 70%;
    border-radius: 7px;
}


@media (max-width:996px) {
    .storyCard {
        gap: 10px;
    }

    .stroyInfo {
        margin-top: 10px;
    }

    .stroyInfo h1 {
        font-size: 30px;
    }

    .stroyInfo p {
        color: var(--textColor);
        line-height: 1.5;
        font-size: 16px;
    }

    .stroyImage img {
        width: 80%;
    }

}

@media (max-width:776px) {

    .story {
        padding-top: 30px;
        padding-bottom: 10px;
    }


    .storyCard {
        flex-direction: column;
    }

    .stroyInfo {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .stroyInfo p {
        text-align: justify;
    }

    .stroyImage img {
        width: 100%;
    }
}