.navbar {
    background: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.navMenu .burgerMenu {
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

.navMenu .burgerMenu:hover {
    opacity: 0.7;
}

.navMenu .navLeft {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navLeft .logo h1 {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    font-size: 25px;
}

.navLeft .logo h1 span {
    font-weight: 400;
    font-size: 18px;
}

.navLeft .navLinks {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.navLeft .navLinks li {
    padding: 10px;
    position: relative;
}

.navLeft .navLinks li::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.5s;
}


/* Left to Right */
body[dir="ltr"] .navLeft .navLinks li::before {
    left: 10px;
}

body[dir="ltr"] .navLeft .navLinks li:hover::before {
    width: 80%;
}

/* Right to Left */
body[dir="rtl"] .navLeft .navLinks li::before {
    right: 10px;
}

body[dir="rtl"] .navLeft .navLinks li:hover::before {
    width: 80%;
}


.navRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navRight .languages,
.navRight .iconGps {
    cursor: pointer;
    transition: 0.3s;
}

.navRight .languages:hover,
.navRight .iconGps:hover {
    opacity: 0.7;
}


/* Language Selector */

.languages {
    font-size: 18px;
    position: relative;
    z-index: 1000;
}


.language-options {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
}

.language-options::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.language-options li {
    padding: 7px 15px;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 5px;
}

.language-options li:hover {
    background-color: rgb(216, 216, 216);
}

.languages:hover .language-options {
    display: block;
}


/* Language Selector */


.navCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navCenter h2 {
    font-size: 80px;
    line-height: 1.6;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    width: 600px;
    margin-inline: auto;
}


.arrowDoubleDown {
    position: absolute;
    bottom: 20px;
    font-size: 40px !important;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    animation: bouncing 1.5s infinite;
    cursor: pointer;
}

.arrowDoubleDown:hover {
    opacity: 0.8;
}


@media (max-width:996px) {

    .navMenu {
        height: 80px;
    }

    .body-overflow-hidden {
        overflow: hidden;
    }

    .navLeft .navLinks {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        background-color: #090708;
        color: white;
        padding-top: 130px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
        width: 100%;
        z-index: 500;
        transition: 0.5s;
    }

    .navLeft .navLinks.navlinksMobile {
        left: 0
    }

    /* Left to Right */
    body[dir="ltr"] .navLeft .navLinks {
        left: -1000px;
    }

    body[dir="ltr"] .navLeft .navLinks.navlinksMobile {
        left: 0;
    }

    /* Right to Left */
    body[dir="rtl"] .navLeft .navLinks {
        right: -1000px;
    }

    body[dir="rtl"] .navLeft .navLinks.navlinksMobile {
        right: 0;
    }


    .navMenu .burgerMenu {
        display: block;
        z-index: 1000;
    }

    .navLeft .logo {
        z-index: 1000;
    }

    .navRight {
        gap: 13px
    }

    .navRight .iconGps {
        font-size: 20px;
    }

    .languages {
        font-size: 16px;
    }

    .language-options li {
        font-size: 13px;
    }

    .navCenter h2 {
        font-size: 60px;
    }

    .arrowDoubleDown {
        font-size: 35px !important;
    }
}

@media (max-width:776px) {

    .navRight .iconGps {
        font-size: 18px;
    }

    .languages {
        font-size: 15px;
    }

    .language-options li {
        font-size: 12px;
        padding: 7px 10px;
    }

    .navCenter h2 {
        width: fit-content;
        font-size: 40px;
    }

    .arrowDoubleDown {
        font-size: 30px !important;
    }

}


@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}