.navbar {
    width: 100%;
    color: #fff;
    position: relative;
}

.navbar.home-page {
    background: url('/images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: calc(100vh - 45px);
}

.navbar.other-page {
    background: none;
    height: auto;
}

.navMenu {
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 10px solid white;
    background: linear-gradient(to right, #f5904a, #f5904a, #f47f30, #e86e23, #d9652a, #d9652a);
    z-index: 1000;
}

.navMenu .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMenu .burgerMenu {
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

.navMenu .burgerMenu:hover {
    opacity: 0.7;
}

.navMenu .navLeft {
    display: flex;
    align-items: center;
    gap: 80px;
}

.navLeft .logo {
    position: relative;
}

.navLeft .logo img:last-of-type {
    transition: all 0.5s ease;
    width: 90px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.navLeft .logo img:first-of-type {
    width: 90px;
    position: relative;
    top: 8px;
    opacity: 0;
    transition: all 0.5s ease;
}


.navbar.scrolled .logo img:last-of-type {
    top: 0;
    opacity: 0;
}

.navbar.scrolled .logo img:first-of-type {
    opacity: 1;
}

.hide-logo img:last-of-type {
    opacity: 0;
    transform: translateY(-50px);
}

.showlogo2 {
    opacity: 1;
    transform: translateY(0);
}

.hidelogo2 {
    opacity: 0;
    transform: translateY(-50px);
}


.navLeft .navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.navLeft .navLinks li {
    padding: 10px;
    position: relative;
}

.navLeft .navLinks li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.5s;
}

.navLeft .navLinks li:hover::before {
    width: 80%;
}

.navRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navRight .languages {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.languages span {
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;
}

.languages span:hover {
    opacity: 0.5;
}

.languagesDropdown {
    position: absolute;
    top: 40px;
    left: -15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 7px;
}

.languagesDropdown::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white;
}

.languagesDropdown span:first-of-type {
    margin-bottom: 10px;
}

.flag-icon {
    width: 18px;
    height: 13px;
    margin-right: 7px;
    position: relative;
    top: 1px;
}

/* Language Selector */


.navCenter {
    position: absolute;
    top: 70%;
    opacity: 0;
    left: 30%;
    transform: translate(-30%, -50%);
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.navCenter h2 {
    font-family: "Playfair Display", serif;
    font-size: 55px;
    line-height: 1.4;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 40px;
    transition: 1s;
}

.navCenterBtn {
    text-align: center;
}

.navCenterBtn a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 25px;
    border-radius: 5px;
    border: 1px solid #f47f30;
    background: linear-gradient(to right, #f5904a, #f47f30, #e86e23, #d9652a);
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    font-size: 18px;
}


.navCenterBtn a::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}

.navCenterBtn a:hover {
    background: transparent;
}

.navCenterBtn a:hover::before {
    left: 0;
    background-color: rgba(255, 255, 255, 0.144);
    width: 100%;
}

.scrollicon {
    position: absolute;
    bottom: 80px;
    opacity: 0;
    width: 65px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    cursor: pointer;
}


@media (max-width:1400px) {

    .navCenter {
        left: 25%;
        width: 550px;
    }

    .navCenter h2 {
        font-size: 50px;
    }

    .navCenterBtn a {
        font-size: 17px;
    }
}


@media (max-width:1100px) {

    .navCenter {
        left: 20%;
        width: 480px;
    }

    .navCenter h2 {
        font-size: 40px;
    }

    .navCenterBtn a {
        font-size: 15px;
    }
}

@media (max-width:996px) {

    .navLeft .logo {
        margin-left: 30px;
    }

    .navLeft .logo img:first-of-type {
        width: 85px;
    }

    .navLeft .logo img:last-of-type {
        width: 80px;
        top: 20px;
    }


    .body-overflow-hidden {
        overflow: hidden;
    }

    .navLeft .navLinks {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        top: 0;
        left: -1000px;
        font-size: 18px;
        background: linear-gradient(to right, #f5904a, #f47f30, #e86e23, #d9652a);
        color: white;
        padding-top: 130px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
        width: 100%;
        z-index: 500;
        transition: 0.5s;
    }


    .navLeft .navLinks.navlinksMobile {
        left: 0
    }

    .navMenu .burgerMenu {
        display: block;
        z-index: 1000;
    }

    .navLeft .logo {
        z-index: 1000;
    }

    .navRight {
        gap: 13px
    }

    .languages span {
        font-size: 16px;
    }

    .flag-icon {
        width: 18px;
        height: 13px;
    }

    .navCenter {
        width: 450px;
        left: 20%;
    }

    .navCenter h2 {
        font-size: 40px;
    }

    .scrollicon {
        width: 53px;
    }

}

@media (max-width:776px) {

    .languages span {
        font-size: 14px;
    }

    .flag-icon {
        width: 17px;
        height: 12px;
    }

    .navCenter {
        width: 250px;
    }

    .navCenter h2 {
        font-size: 25px;
    }

    .navCenterBtn a {
        font-size: 12px;
        padding: 5px 10px;
    }

    .navCenterBtnIcon {
        font-size: 16px !important;
        position: relative;
        top: 1px;
    }

    .scrollicon {
        width: 43px;
    }

}