.place-images {
    background-color: var(--blackColor);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.place_container {
    width: 100%;
}

.place-images .swiper-slide {
    padding-top: 75px;
    padding-bottom: 75px;
}


.place-images .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: blur(4px);
}

.place-images .swiper-slide-active {
    z-index: 1;
}

.place-images .swiper-slide-active img {
    transform: scale(1.2);
    transition: 0.3s;
    filter: blur(0);
}


@media (max-width:768px) {
    .place-images {
        padding-top: 0;
        padding-bottom: 0;
    }

    .place-images .swiper-slide-active img {
        transform: scale(1.3);
    }
}

@media (max-width:450px) {

    .place-images .swiper-slide-active img {
        transform: scale(1.6);
    }
}