.footer {
    background: #231f20;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 900;
}

.footer .footerup {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .hide {
    display: none;
}

.footer .show {
    display: flex;
}

.footerleft {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.footerleft .footersocial {
    text-align: center;
    margin-right: 20px;
}

.footerleft img {
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.footerleft .socialicons :first-child {
    margin-right: 5px;
}

.footerleft .footerplace {
    margin-top: 20px;
}

.footerleft .footerplaceIcon {
    margin-right: 10px;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.footerleft .footerplace p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px
}

.footerright {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footerright .footerprivacy {
    display: flex;
    flex-direction: column;
}

.footerright .footerprivacy a :first-child {
    position: relative;
    top: 3px;
    margin-right: 5px;
    font-size: 18px
}

.footerright .footerprivacy a {
    margin-bottom: 10px;
}

.footerright .footerprivacy a span {
    font-size: 15px
}

.footerright .footerfaq {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-right: 60px;
}

.footerright .footerfaq a {
    margin-bottom: 10px;
}

.copyright {
    background: linear-gradient(to right, #f5904a, #f5904a, #f47f30, #e86e23, #d9652a, #d9652a);
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 17px;
    font-weight: 500;
}

.copyright .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright .socialicons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright .socialicons a {
    color: black;
}

.copyright .socialicons p {
    position: relative;
    top: -2px;
}

.copyright .socialicons a:first-of-type {
    margin-right: -7px;
}

.footer .arrowupfooter,
.footer .arrowdownfooter {
    font-size: 30px;
    cursor: pointer;
}

.footer .arrowdownfooter {
    position: absolute;
    right: 0px;
    top: 80px;
}

@media (max-width:996px) {

    .footer .footerup {
        width: 100%;
        gap: 50px;
    }

    .footerleft {
        gap: 20px;
    }

    .footerleft img {
        width: 80px;
    }

    .footerleft .socialicons :first-child,
    .footerleft .socialicons :nth-child(2) {
        font-size: 20px !important;
    }

    .footerleft .footerplace p {
        font-size: 13px;
    }

    .footerleft .footerplaceIcon {
        font-size: 16px;
    }

    .footerright .footerprivacy a :first-child {
        font-size: 16px
    }

    .footerright .footerprivacy a span {
        font-size: 14px
    }

    .footerright .footerfaq {
        font-size: 14px;
        margin-top: 5px;
    }

    .copyright {
        font-size: 16px
    }

}


@media (max-width:768px) {
    .footer .footerup {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .footerleft img {
        width: 60px;
    }

    .footer .socialicons :first-child,
    .footer .socialicons :nth-child(2) {
        font-size: 18px !important;
    }

    .footerleft {
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .footerright {
        margin-top: 0;
        gap: 50px;

    }

    .footerleft .footerplace {
        margin-top: 0
    }

    .copyright {
        font-size: 13px;
    }

    .footer .arrowupfooter,
    .footer .arrowdownfooter {
        font-size: 25px;
    }

    .footer .arrowupfooter {
        position: relative;
        top: -2px;
    }

    .footer .arrowdownfooter {
        top: 50%
    }
}

@media (max-width:600px) {
    .copyright .socialicons p {
        display: none;
    }
}

@media (max-width:500px) {


    .footer .footerup {
        align-items: center;
        gap: 20px;
    }

    .footerleft .footerplace p {
        font-size: 12px;
    }

    .footerleft .footerplaceIcon {
        font-size: 14px;
    }

    .footerright .footerprivacy a :first-child {
        font-size: 15px
    }

    .footerright .footerprivacy a span {
        font-size: 12px
    }

    .footerright .footerfaq {
        font-size: 12px;
    }

    .footer .socialicons :first-child,
    .footer .socialicons :nth-child(2) {
        font-size: 16px !important;
    }

    .copyright {
        font-size: 10px;
    }
}