.productsmenu {
    background: url('/images/pattern.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid rgba(255, 255, 255, 0.384);
    padding-top: 30px;
    padding-bottom: 20px;
}


.productMenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin-inline: auto;
}

.productMenu img {
    width: 100%;
    border-radius: 10px;
}

.productInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.productInfo p {
    padding: 10px;
    background-color: white;
    color: var(--blackColor);
    font-weight: 900;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 7px;
    font-size: 18px;
    overflow: hidden;
    position: relative;
}

.productInfo p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 115, 0, 0.233);
    transition: 0.5s;
}

.productInfo p:hover::before {
    left: 100%;
}

.productInfo .starIcon {
    font-size: 15px;
    margin-right: 5px;
}

@media (max-width:996px) {

    .productMenu {
        width: 80%;
    }

    .productInfo p {
        font-size: 16px;
    }

    .productInfo .starIcon {
        font-size: 13px;
        margin-right: 3px;
    }
}

@media (max-width:768px) {

    .productMenu {
        width: 90%;
    }

    .productInfo p {
        font-size: 14px;
    }

    .productInfo .starIcon {
        font-size: 11px;
        margin-right: 3px;
    }
}

@media (max-width:400px) {


    .productInfo p {
        font-size: 12px;
    }

    .productInfo .starIcon {
        font-size: 9px;
        margin-right: 3px;
    }
}